:root
{
    --font: 'Kumbh Sans', sans-serif;
    --primary-color: #ff7d1a;
    --title-color: #1d2025;
    --text-color: #68707d;
    --before-discount-color: #bbbdc2;
    --burger-menu-bars: #69707d;
    --important-element-bg: #ffede0;
    --light-bg: #f7f8fd;
    --gallery-lightbox-bg: rgba(0, 0, 0, 0.75);
    --white: #fff;
    // --dark-grayish-blue: #68707d;
}

body
{
    margin: 0 25px; //container-like margins
    padding: 0;
    font: 400 0.94rem/1.5rem var(--font);
    color: var(--text-color);
}

h1
{
    margin: 0 0 17px;
    font: 700 1.8rem/2rem var(--font);
    color: var(--title-color);
}

h2
{
    margin: 22.5px 0 15px;
    font: 700 0.75rem/1.1rem var(--font);
    letter-spacing: 1.7px;
    color: var(--primary-color);
    text-transform: uppercase;
}

h3
{
    margin: 0;
    font: 700 1rem/1rem var(--font);
    color: var(--title-color);
}

button
{
    padding: 20px 0;
    width: 100%;
    border: none;
    background: var(--primary-color);
    font: 700 1rem/1rem var(--font);
    letter-spacing: 0.5px;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    border-radius: 10px;
    box-shadow: 0 30px 30px #fde7d4;
    margin-bottom: 30px; //Let space below especially on smaller screens
}

//SECTIONS HEIGHTS
section:not(section#product-image-presentation)
{
    //min-height: calc(((100vh - 370px) / 2) - 12.5px); // (((screen's height - (product-image-presentation's height + margin-top)) /2) - 12.5px for the 25px of #product-description section's padding-top, but it's divided between the two sections) - I want the slider to have min-height: 300px. and the other sections to share the remaining screen's height
}

body section#product-image-presentation,
body section#product-image-presentation .img-container
{
    min-height: 300px;
}

//HEADER SECTION
header#page-header
{
    height: 30px; //makes 70px with padding
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 25px;
    min-width: calc(100% - 50px); //100% - side padding
    background: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 4;


    .header-left
    {
        display: flex;
        align-items: center;
        column-gap: 15px;

        #logo
        {
            position: relative;
            top: -2px;
        }
    }

    .header-right
    {
        display: flex;
        align-items: center;
        column-gap: 22.5px;

        img:not(.profile-pic, .cart-single-product-container img)
        {
            height: 20px;
        }

        .profile-pic
        {
            height: 25px;
            border-radius: 50%;
            outline: 2px solid transparent;

            &:hover
            {
                outline: 2px solid var(--primary-color);
            }
        }

        .cart-container
        {
            // position: relative; //TO PUT ON DESKTOP FORMAT
            display: flex;
            align-items: center;

            .cart-icon-container
            {
                position: relative;
                display: flex;
                align-items: center;

                #items-in-cart-number-badge
                {
                    opacity: 0;
                    position: absolute;
                    top: -6px;
                    right: -5px;
                    height: 12px;
                    width: 20px;
                    padding: 1px 0 0;
                    background: var(--primary-color);
                    color: #fff;
                    font: 400 0.6rem/0rem var(--font);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50px;
                }

                #items-in-cart-number-badge.visible
                {
                    opacity: 1;
                }
            }

            #cart
            {
                opacity: 0;
                position: absolute;
                top: 78px;
                right: -100vw;
                width: calc(100% - 16px);
                border-radius: 7px;
                background: var(--white);
                box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
                transition: all ease 0.4s;

                header
                {
                    height: 70px;
                    padding-left: 18px; //body's margin - left :7px from parent
                    display: flex;
                    align-items: center;
                    border-bottom: 1px solid #e8e7eb;
                }

                #cart-products-container.empty //Align content on top when cart isn't empty
                {
                    padding: 25px 18px 0;
                    display: block;
                    min-height: 135px;
                }

                #cart-products-container.empty + .checkout-btn
                {
                    display: none;
                }

                #cart-products-container:not(#cart-products-container .empty)
                {
                    padding: 20px 25px 25px;
                    font: 700 1rem/1rem var(--font);
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .cart-single-product-container
                    {
                        width: 100%;
                        display: flex;
                        // justify-content: space-between;
                        align-items: center;

                        .product-in-cart-img
                        {
                            height: 50px;
                            border-radius: 5px;
                            margin-right: 15px;
                        }

                        .product-in-cart-informations
                        {  
                            display: flex;
                            flex-direction: column;
                            row-gap: 10px;
                            white-space: nowrap;

                            @media (max-width: 360px)
                            {
                                white-space: unset;
                            }

                            .cart-product-name,
                            .cart-product-amount-and-price
                            {
                                margin: 0;
                                font-weight: 400;
                                color: var(--text-color);

                                .total-price
                                {
                                    margin-left: 3px;
                                    font-weight: 700;
                                    color: var(--title-color);
                                }
                            }
                        }

                        .product-in-cart-delete
                        {
                            height: 16px;
                            margin-left: 18px;
                        }
                    }
                }

                .checkout-btn
                {
                    margin-left: 25px;
                    width: calc(100% - 50px);
                    margin-bottom: 30px;
                    box-shadow: none;
                }
            }
    
            #cart.opened
            {
                opacity: 1;
                right: 8px;
            }
        }
    }
}

#burger-menu
{
    position: relative;
    z-index: 6; //makes it visible even if side menu is displayed

    .bar
    {
        display: block;
        margin: 3px 0;
        height: 3px;
        width: 16px;
        background: var(--burger-menu-bars);
    }
}

nav //initial nav state on mobile
{
    transition: all ease 0.4s;
    z-index: 5; //makes menu appear over image slider

    @media (max-width: 550px)
    {
        position: fixed;
        height: 100vh;
        top: 0;
        left: -200px;
        padding-top: 70px; //header's height
    }

    ul
    {
        margin-top: 25px;
        list-style: none;
        padding: 0 0 0 25px;
        font: 700 1.2rem/1.2rem var(--font);
        color: var(--title-color);
        display: flex;
        flex-direction: column;
        row-gap: 27px;
    }
}

#burger-menu.active
{
    .bar
    {
        margin: 0;

        &:first-child
        {
            transform: rotate(-45deg);
        }

        &:nth-child(2)
        {
            opacity: 0;
        }
        
        &:last-child
        {
            transform: translate(0px, -6px) rotate(45deg)
        }
    }

    ~ nav
    {
        left: 0;
        width: 65vw;
        background: var(--white);
    }
}

//This part is to allow overlay (when side-menu opened) to be displayed over #page-header
header#page-header:has(#burger-menu.active)
{
    position: static;
    padding: 20px 0;

    #cart
    {
        display: none; //Causes overflow when side-menu is opened
    }
}

.page-overlay::after
{
    content: "";
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    height: 100vh;
    background: var(--gallery-lightbox-bg);
    transition: all ease 0.2s;
    opacity: 0;
}

.page-overlay:has(#burger-menu.active)::after
{
    opacity: 1;
    z-index: 4;
    width: 100vw;
}

.page-overlay:has(#burger-menu.active) nav
{
    z-index: 5;
}

.page-overlay:has(#burger-menu.active) + #product-image-presentation
{
    margin-top: 0;
}

//PRODUCT IMAGE PRESENTATION SECTION
section#product-image-presentation
{
    position: relative;
    margin-top: 70px; //avoid hiding from header
    z-index: 0; //if not set, the slider navigation arrows would be on top of opened side-menu

    .nav-arrow
    {
        position: absolute;
        top: calc(50% - (41px / 2)); //middle of section's heigt - half arrow's height
        display: flex;
        align-items: center;
        justify-content: center;
        height: 13px;
        width: 11px;
        padding: 14px 15px;
        background: var(--white);
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        z-index: 4;

        &.prev-nav-arrow
        {
            left: -10px;
        }

        &.next-nav-arrow
        {
            right: -10px;
        }

        &:active
        {
            transform: scale(0.9);
            box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
        }
    }

    .img-container
    {
        position: relative;
        min-height: 100%;
        width: 100vw; //force full width
        margin-left: -25px; //compensate body's margin (container)
        overflow: hidden;
        
        img
        {
            position: absolute;
            top: 0;
            left: 0;
            min-width: 100%;
            max-height: 100%;
            object-position: center;
            object-fit: cover;
        }

        .visible-img
        {
            opacity: 1;
            z-index: 3;
            transition: all ease 0.4s;
        }
    }

    .img-thumb-container
    {
        @media (max-width: 550px)
        {
            display: none;
        }
    }
}

//PRODUCT DESCRIPTION SECTION
section#product-description
{
    p.description
    {
        margin-bottom: 0;
    }
}

//PRODUCT BUYING SECTION
section#product-buying
{
    .price-container
    {
        margin-top: 3.7vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 25px;

        .discounted-price-container
        {
            display: flex;
            align-items: center;
            column-gap: 15px;

            .discounted-price
            {
                font: 700 1.8rem/1.8rem var(--font);
                color: var(--title-color);
            }

            .discount-percentage
            {
                padding: 5px 8px 6px;
                display: flex;
                align-items: center;
                background: var(--important-element-bg);
                color: var(--primary-color);
                font: 700 1rem/1rem var(--font);
                border-radius: 5px;
            }
        }

        .before-discount-price-container
        {
            display: flex;
            align-items: center;

            .before-discount-price
            {
                font: 700 1rem/1rem var(--font);
                color: var(--before-discount-color);
                text-decoration: line-through;
            }
        }
    }

    .product-amount-selector
    {
        padding: 17px 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: var(--light-bg);
        font-weight: 700;
        color: var(--title-color);
        border-radius: 10px;
        margin-bottom: 15px;
    }

    button img
    {
        max-height: 16px;
        filter: brightness(10);
    }
}

//HOVER
#burger-menu,
#burger-menu .bar,
nav ul li,
.cart-icon-container,
.profile-pic,
.img-thumb-container img,
.nav-arrow,
#decrease-product-quantity-btn,
#increase-product-quantity-btn,
#add-to-cart-btn
{
    transition: all ease 0.4s;

    &:hover
    {
        cursor: pointer
    }
}

#decrease-product-quantity-btn,
#increase-product-quantity-btn,
#add-to-cart-btn
{
    &:hover
    {
        opacity: .6;
    }
}

//RESPONSIVE